@page
@model QKiz.Pages.rhModel
@{
    ViewData["Title"] = "Registro de Empleados";
}

<div class="container">
    <h2 style="margin-top: 160px">@ViewData["Title"]</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>NSS</th>
                <th>RFC</th>
                <th>Teléfono</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var empleado in Model.Empleados)
            {
                <tr>
                    <td>@empleado.Id</td>
                    <td>@empleado.Nombre</td>
                    <td>@empleado.Apellidop</td>
                    <td>@empleado.Apellidom</td>
                    <td>@empleado.Nss</td>
                    <td>@empleado.Rfc</td>
                    <td>@empleado.Telefono</td>
                    <td>@empleado.Email</td>
                    
                </tr>

            }
        </tbody>
    </table>
</div>
